################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/obj/**/*
/**/bin/**/*
/**/*.v2.ncrunchproject
/.vs/**/*
/**.Tests/**/*
/_NCrunch_Warehouse/**/*
/*.v2.ncrunchsolution
/*.ncrunchsolution.user
/**/*.csproj.user
/packages