################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/obj/**/*
/**/bin/**/*
/**/*.v2.ncrunchproject
/.vs/**/v14
/**.Tests/**/*
/_NCrunch_Warehouse
/*.v2.ncrunchsolution
/*.ncrunchsolution.user
/packages
