@model Warehouse.UI.Models.ErrorViewModel

@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
<hr />
<hr />
<h4>@ViewData.Model.ErrorMessage</h4>

<div>
    <a href="javascript:history.go(-1)">Back to previous</a>
</div>