@model Warehouse.Domain.ReadModels.DisabledItemsListView


@{
    ViewBag.Title = "Diabled Items";
}

<h2>Diabled Items</h2>

<table class="table">
    <tr>
        <th>Name</th>
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.Name</td>
            <td>
                @Html.ActionLink("Enable", "Enable", "DisabledItems", new { id = item.Id.Value }, null)
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Back to List", "Index", "Home")
</p>